@import url('https://fonts.googleapis.com/css2?family=Galada&family=Noto+Serif+Georgian:wght@400;500;600;700;800;900');
@font-face {
    font-family: 'Britannic Bold';
    src: url('../fonts/BRITANIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Noto Serif Georgian', serif;
    text-align: justify;
}

h2{
    font-size: 50px;
}

span{
    color: #218CCC;
    font-size: 50px;
}

/* HEADER */
.btn{
    color: #218CCC;
    background-color: white;
    border-radius: 40px 0 0 40px;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn:hover{
    color: white;
    font-weight: bold;
}

/* MAIN */
/* HOME SECTION */
#home{
    background-image: url('../images/homeBg.png');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 100vh;
}

#home h1{
    font-family: 'Britannic Bold';
    font-size: 70px;
}

#home h1 span{
    font-family: 'Galada', cursive;
    font-size: 70px;
}

/* ABOUT SECTION */
#about .card{
    border-radius: 30px;
    border: none;
    background: rgba(222, 239, 252, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

#about .card:hover{
    background-color: #fff;
    color: #218CCC;
    transform: scale(1.08); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#about .card-title{
    background-image: url('../images/cardBg.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    color: #000;
    padding: 60px;
}

.card span{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}

/* FOOTER */
footer .row{
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
    min-height: 350px;
}
img.logo{
    width: 100px;
    margin-top: 150px;
    margin-left: 60px;
}

@media only screen and (max-width: 640px) {
    img.logo {
      width: 80px;
      margin-top: 180px;
      margin-left: 30px;
    }

    footer .row{
        background-size: 100%;
        background-position-y: bottom;
    }

    footer .icons{
        justify-content: end;
        min-height: 100px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1010px) {
    img.logo {
        width: 100px;
        margin-top: 120px;
        margin-left: 40px;
    }

    footer .row{
        background-size: 80%;
        background-position-y: bottom;
    }

    footer .icons{
          justify-content: end;
          min-height: 100px;
    }
}

